<!doctype html>
<html ng-app="scanMusicApp">
<head>
    <title>Music</title>
</head>


<body>
<div ng-controller="musicCtrl">
    <div class="container-fluid">


        <!-- artists column -->
        <div class="col-md-4">
            <div class="panel panel-default" ng-init="getArtists()">
                <div class="panel-heading">Artists</div>
                <div class="panel-heading"><input ng-model="artistSearch"/></div>
                <div class="panel-body">
                    <div id = "artistsLoading">Loading</div>
                    <button ng-repeat="artist in artists | filter : {artist: artistSearch} |limitTo : 1000"
                            ng-click="setFilter(artist)"
                            type="button" class="list-group-item">{{artist.artist}}
                    </button>
                </div>
            </div>
        </div>


        <!-- albums column -->
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Albums</div>
                <div class="panel-heading">&nbsp;</div>
                <div class="panel-body">
                    <div id = "albumsLoading">Loading</div>
                    <div ng-init="getAlbums()">
                        <button ng-model="album" ng-repeat="album in albums |filter : {artist : musicFilter.artist} : true | limitTo:1000"
                                ng-click="setFilter(album)"
                                type="button" class="list-group-item">{{album.album}}
                        </button>
                    </div>
            </div>
        </div>
    </div>

    <!-- songs column -->
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Songs</div>
            <div class="panel-heading">
                <div id="playerDiv" style="display:none" >
                    <div ng-model="songAudioData" id="audioData">
                        Artist: {{songAudioData.artist}}<br/>
                        Album: {{songAudioData.album}}<br/>
                        Title: {{songAudioData.title}}
                    </div>
                    <audio id ="player" controls>
                        <source id="mp3_src" src="" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </div>
                <div class="panel-body">
                    <div id = "songsLoading">Loading</div>
                    <div ng-init="getSongs()">

                        <button ng-model="songs" ng-repeat="song in songs  |filter : searchSongs | orderBy : 'trackNumber' | limitTo:1000"
                                ng-click="play(song)"
                                type="button" class="list-group-item">{{renderTitle(song)}}

                        </button>
                    </div>

                </div>
            </div>
        </div>


    </div>

</div>
</body>
</html>